<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic Deck Builder</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <header class="columns has-background-info section">
      <h1 class="column is-7">
        <a href="/" class="title is-2 has-text-white">Magic Deck Builder</a>
      </h1>
      <nav class="column is-5 has-text-right-tablet">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <a
            href="/account"
            class="button is-ghost has-text-white is-size-4"
          >account</a>
          |
          <button
            class="button is-ghost has-text-white is-size-4"
            id="logout"
          >logout</button>
        {{else}}
          <a
            href="/login"
            class="button is-ghost has-text-white is-size-4"
          >login</a>
        {{/if}}
      </nav>
    </header>
    <main class="columns is-flex-direction-column">
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>