<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Magic Deck Builder</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
		/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
    <header>
      {{! Title of the site }}
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <h1 class="title"><a href="/" class="has-text-white">Magic Deck Builder</a></h1>
          </div>
          {{#unless is_homepage}}
            {{! Search bar for everywhere but homepage }}
            <form class="field has-addons search-form">
              <div class="control is-expanded">
                <input
                  class="input is-small search-input"
                  type="text"
                  placeholder="Search for cards.."
                />
              </div>
              <div class="control">
                <button
                  class="button is-small is-info search-button"
                  style="background-color: #553055"
                >
                  Search
                </button>
              </div>
            </form>
          {{/unless}}
      
          <div class="column is-5 has-text-right">
            <nav>
              {{#if logged_in}}
                <a href="/deck-builder" class="nav-item has-text-white">Deck Builder</a>
                <a href="/collection" class="nav-item has-text-white">My Collection</a>
                <a href="/account" class="nav-item has-text-white">Account</a>
                <span class="nav-item has-text-white">|</span>
                <button id="logout" class="nav-item button is-white">Logout</button>
              {{else}}
                <div class="field has-addons">
                  <div class="control">
                    <a href="/login" class="button is-white">Login</a>
                  </div>
                  <div class="control">
                    <button class="button is-primary">
                      <span class="icon is-small">
                        <i class="fas fa-search"></i>
                      </span>
                    </button>
                  </div>
                </div>
              {{/if}}
            </nav>
          </div>

        </div>
      </div>
    </header>

{{!-- MAIN PAGE CONTENT --}}
		<main>
			<div class="container">
				{{{body}}}
			</div>
		</main>

    <!-- Clipboard Bar -->
    <div id="clipboard-bar" class="clipboard">
      <div class="clipboard-header" onclick="toggleClipboard()">Card Clipboard</div>
    <div id="clipboard-content" class="is-hidden">
    <!-- Cards will be dynamically added here -->
    </div>
    </div>

		<!-- Render script for logged in users only -->
		{{#if logged_in}}
			<script src="/js/logout.js"></script>
		{{/if}}
    <script src="/js/search.js"></script>
    <script src="/js/clipboard.js"></script>
	</body>

</html>