<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic Deck Builder</title>
    <!-- Link to style.css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="navbar">
      <h1>
        <a href="/">Magic Deck Builder</a>
      </h1>
      <nav>
        {{!-- Deck Builder button --}} 
        <a href="/deck-builder" class="button">Deck Builder</a>
        {{!-- Collection button --}}
        <a href="/collection" class="button">My Collection</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        {{!-- My Account button --}}
        <a href="/account" class="button">My Account</a>
        {{!-- Logout button --}}
        <button class="button" id="logout">Logout</button>
      {{else}}
        {{!-- Login button --}}
        <a href="/login" class="button">Login</a>
        {{/if}}
      </nav>
    </header>
    {{!-- WIP navbar styling element --}}
    <div class="fade">
      </div>
    
    <main>
      <!-- Render the main content on the page(below navbar) -->
      {{{body}}}
    </main>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>