<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPELLSMITH: MTG DECKBUILDER</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      {{! Title of the site }}
      <div class="container">
        <div class="columns is-vcentered annoying-thing">
          <div class="column is-4 title-container">
            <a href="/">
              <img
                src="/assets/SpellSmith.png"
                alt="Spell Smith Logo"
                id="brand-logo"
                class="brand-logo"
              />
            </a>

            <h1 class="title"><a href="/" class="brand-text">SPELLSMITH</a></h1>
          </div>
          {{#unless hide_search}}
            {{! Search bar for everywhere but homepage }}
            <div class="small-search-container">
              <form class="field has-addons search-form">
                <div class="control is-expanded">
                  <input
                    class="input is-small search-input"
                    id="small-search-input"
                    type="text"
                    placeholder="Search for cards.."
                  />
                </div>
                <div class="control">
                  <button
                    class="button is-small is-info search-button"
                    id="small-search-button"
                  >
                    Search
                  </button>
                </div>
              </form>
            </div>
          {{/unless}}

          <div class="column is-5 has-text-right nav-buttons">
            <nav>
              {{#if logged_in}}
                <b>
                  {{! <a href="/deck-builder" class="nav-item has-text-white">Deck
                    Builder</a> }}
                  <a href="/collection" class="nav-item has-text-white">My
                    Collection</a>
                  <a href="/my-decks" class="nav-item has-text-white">My Decks</a>
                  <a href="/account" class="nav-item has-text-white">Account</a>
                  <span class="nav-item has-text-white">|</span>
                  <button
                    id="logout"
                    class="nav-item button is-white"
                  >Logout</button></b>
              {{else}}
                {{! Show Login button }}
                <div class="field has-addons">
                  <div class="control">
                    <a href="/login" class="button" id="login">Login</a>
                  </div>
                </div>
              {{/if}}
            </nav>
          </div>

        </div>
      </div>
    </header>

    {{! MAIN PAGE CONTENT }}
    <main>
      <div class="container">
        {{{body}}}
      </div>
    </main>

    <!-- Clipboard Bar HTML structure -->
    <div id="clipboard-bar" class="clipboard">
      <div class="clipboard-header">
        <span
          id="clear-clipboard"
          class="clear-clipboard"
          onclick="clearAllClipboard(event)"
        ></span>
        <span id="copy-clipboard" class="copy-clipboard"></span>
        <span id="buy-clipboard" class="buy-clipboard"></span>
        <span id="clipboard-info" class="clipboard-info"></span>
        <div id="info-extended" class="info-extended"></div>
        ✏️ My Card Clipboard
        <span id="clipboard-arrow" class="clipboard-arrow">↑</span>
      </div>
      <div class="clipboard-content">
        <!-- Clipboard items will be dynamically inserted here -->
      </div>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
      <script src="/js/savecard.js"></script>
      <script src="/js/remove.js"></script>
    {{/if}}
    <script src="/js/search.js"></script>
    <script src="/js/clipboard.js"></script>
  </body>

</html>