<body>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="box has-text-centered columns is-flex-direction-column">
        <a href="/reset-password" class="button box is-info">Update Password</a>

        <button class="button box is-danger" id="delete-account">
          Delete Account
        </button>
      </div>
    </div>

  </div>
  <script src="/js/account.js"></script>
</body>