{{#each posts as |post|}}
  <div>
    <a href="/post/{{post.id}}">
      <div>

        <p>Created by {{post.user.userName}} on {{post.date_created}}</p>
      </div>
      <div>
        <p>
          {{post.title}}
        </p>
      </div>
    </a>
  </div>
{{/each}}