<body>
  <div class="search-container">
    <input
      type="search"
      class="search-input"
      placeholder="Search for a card.."
    />
    <button class="search-button">Search</button>
  </div>
</body>
<script src="./js/search.js"></script>