<main class="columns is-flex-direction-column">
  {{!-- <section class="hero is-bold" style="background-color: #e04607">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white">
          Search Magic: The Gathering Cards
        </h1>
        <h2 class="subtitle has-text-white">
          Explore the multiverse with Scryfall's comprehensive database.
        </h2>
      </div>
    </div>
  </section> --}}

  <section class="section">
    <div class="container">
      <h2 class="title is-2">Featured Cards</h2>
      <div class="columns is-multiline">
        {{#each featuredCards}}
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{this.imageUrl}}" alt="{{this.name}}">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{this.name}}</p>
                  <p class="subtitle is-6">{{this.set}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>
