<div class="columns">
  <div class="column box is-6 is-offset-3">
    <form class="form login-container update-password">
      <div>
        <label for="email-login">Old Password:</label>
        <input class="input-field" type="password" id="password" />
      </div>
      <div>
        <label for="password-login">New Password:</label>
        <input class="input-field" type="password" id="new-password" />
      </div>
      <div>
        <label for="password-login">Confirm New Password:</label>
        <input class="input-field" type="password" id="new-password-confirm" />
      </div>
      <div>
        <button class="button" id="reset-password" type="submit">Change Password</button>
      </div>
    </form>
  </div>

  <script src="/js/update-password.js"></script>
</div>